body {
  background-color: black;
}
.f-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App {
  text-align: center;
  color: white;
  font-size: clamp(30px, 9vw, 80px);
  gap: .2em;
}

.App > h1 {
  font-size: 1em;
  font-weight: 600;
  background: linear-gradient(rgb(98, 0, 255), rgb(9, 255, 214));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.form {
  gap: 0.5em;
  font-size: 1em;
}
.form > input[type="date"] {
  outline: none;
  padding: 0.5em;
  /* border: white solid thin; */
  border-radius:20px;
  cursor: pointer;
  font-size: 0.5em;
  background: linear-gradient(rgb(98, 0, 255), rgb(9, 255, 214));
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.form > button {
  font-size: 0.3em;
 border-radius: 20px;
 padding:.4em 2em;  
 cursor: pointer;
}
#error{
  font-size: .3em;
  color: red;
}
.count{
 font-size: .6em;
  animation: count 2s ease-in forwards;
}
@keyframes count {
  0%{
    color:rgb(98, 0, 255);
  }
  50%{
    color:rgb(9, 255, 214);
  }
  100%{
    color:rgb(0, 255, 136);

  }
}